@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

p.fonts2 {

    font-family: 'Neucha', cursive;
    text-transform: none;
    font-size:2rem;
    color:white;
    font-style: italic;

}


#demotext {
    color: #FFFFFF;

    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    color: #FFFFFF;
  
    }

    .demotext {
        color: #FFFFFF;
      
        text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
        color: #FFFFFF;
        
        }

        .demotext2 {
            color: #FFFFFF;
        
            text-shadow: 1px 3px 0 #0000008f, 1px 13px 5px #000000a4;
            color: #FFFFFF;
           
            }


            @import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

            